@import "tailwindcss";

@theme {
  --color-brand-primary: #4E4FEB;
  --color-brand-secondary: #484848;
}

*{
  box-sizing: border-box;
}
.font-poppins {
  font-family: var(--font-poppins);
}

.font-quicksand {
  font-family: var(--font-quicksand) !important;
}

.ant-menu {
  border: none !important;
}

/* Ant Design menu customization */
.ant-menu-item {
  font-family: var(--font-quicksand);
}

.ant-menu-item:hover {
  background-color: rgba(78, 78, 235, 0.05) !important;
  color: #4E4FEB !important;
}

.ant-menu-item-selected {
  background-color: rgba(78, 78, 235, 0.1) !important;
  color: #4E4FEB !important;
}
/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  transition: all 0.8s ease;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
  transition: all 0.8s ease;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 3px;
  transition: all 0.8s ease;
}

*:hover::-webkit-scrollbar-thumb {
  background: rgba(204, 204, 204, 0.8);
}

*:hover::-webkit-scrollbar-thumb:hover {
  background: rgba(153, 153, 153, 0.9);
}

.timeline-scroll::-webkit-scrollbar {
  height: 6px;
}

.timeline-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.timeline-scroll::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

.timeline-scroll::-webkit-scrollbar-thumb:hover {
  background: #999;
}